<html>
  <head>
    <title>Osadola Oluwagbhohunmi Eyitayo 18CJ024513 DATA VISUALIZATION ASSIGNMENT</title>

    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/main.css') }}">

  </head>
  <body>
      <h1 align="center">Number of Combined Radio and Television Institutions in Africa</h1>

    <div class="cell">
        <p class="main-text">
           This Bar plots below show the Number of Combined Radio and Television Institutions In Africa from the
           year 2010-2019
        </p>
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2010.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2011.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2012.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2013.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2014.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2015.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2016.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2017.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2018.png') }}" width="70%">
<br/><br/>
        <img src="{{ url_for('static', filename='images/output2019.png') }}" width="70%">
<br/><br/>





      </div>


      <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the line graphs above the first plot being the Mean,followed by the Standard
            Deviation,Variance,Median
        </p>
<br/><br/>
       <img src="{{ url_for('static', filename='images/output4.png') }}" width="40%">
 <br/><br/> 
      <img src="{{ url_for('static', filename='images/output5.png') }}" width="40%">
<br/><br/>
      <img src="{{ url_for('static', filename='images/output6.png') }}" width="40%">
<br/><br/>
      <img src="{{ url_for('static', filename='images/output7.png') }}" width="40%">
<br/><br/>
      <img src="{{ url_for('static', filename='images/output8.png') }}" width="40%">
<br/><br/>
      </div>
 <div  class="cell">
        <p class="main-text">
            The line graphs show below the different measures of dispersion(as indicated by the legend),
            for the observation values in the bar plots above the first plot being the Mean,followed by the Standard 
            Deviation, Variance,Median, Range
         </p>
<br/><br/>
       <img src="{{ url_for('static', filename='images/output10.png') }}" width="40%">
<br/><br/>
       <img src="{{ url_for('static', filename='images/output11.png') }}" width="40%">
<br/><br/>
       <img src="{{ url_for('static', filename='images/output12.png') }}" width="40%">
<br/><br/>
       <img src="{{ url_for('static', filename='images/output13.png') }}" width="40%">
<br/><br/>
       <img src="{{ url_for('static', filename='images/output14.png') }}" width="40%">
<br/><br/>
      </div>
      <div  class="cell">
        <p class="main-text">
            We can also decide to visualize the median and interquartile ranges with the help of a boxplot. 
            The diagram below helps us understand its structure.
        </p>
            <img src='https://cdn1.byjus.com/wp-content/uploads/2020/10/Box-Plot-and-Whisker-Plot-1.png' width="30%">
            <br />
            <br />
            <br />

            <img src="{{ url_for('static', filename='images/Boxplots2010-2019.jpg') }}" width="70%">



      </div>

  </body>
</html>
